<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.youngwoo.testapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/symbol"
        android:label="PK\u0026맛"
        android:roundIcon="@drawable/symbol"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".roulette" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".select1" android:screenOrientation="portrait">
        </activity>
        <activity android:name=".select2" android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>